html {
    background-image: url("../../image/background-yellow.jpg")
}

h4{
  text-decoration: line-through;
}

.line-separator{
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
  margin: 10px;
  margin-bottom: 20px;
}

.section-bar {
    padding: 5px 50px 5px 50px;
    background-color: transparent;  /* why isn't this working? */
}

.section {
    display: inline-block;
    font-family: 'Antic Slab';
    font-size: 16pt;
    padding-right: 20px;
    height: 45px;
    line-height: 45px;
}

.section-text {
    line-height: normal;
    vertical-align: text-bottom;
}

.section-inactive:hover {
    text-decoration: underline;
}

.section-active {
    font-size: 24pt;
    border-bottom: 2px solid black;
}

.catalog {
    margin: 0 50px 0 50px;
}

.catalog-item {
    opacity: 0;
    position: relative;
    float: left;
    margin: 20px;
    width: 240px;
    height:  400px;
    transition: opacity 0.5s linear;
}

.catalog-item-active {
    opacity: 1;
}

.catalog-title {
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    background-color: white;
    margin: 5px 0 5px 0;
}

.catalog-button {
    text-align: center;
}

.catalog-cover {
    width: 100%;
}

.catalog-anchor .catalog-popup{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    margin: 10px 10px 50px 10px;
    bottom: 0;
    left: 0;
}

.catalog-anchor:hover .catalog-popup {
    visibility: visible;
    background-color: lightyellow;
    border: 5px solid black;
    padding: 5%;
}

.icon-on-sale {
    display: none;
    position: absolute;
    top: -20px;
    right: -20px;
    z-index: 5;
    height: 75px;
}

.tagged-on-sale .icon-on-sale {
    display: inline;
}

.icon-thumbs-up {
    display: none;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 5;
    height: 75px;
}

.tagged-staff-picks .icon-thumbs-up {
    display: inline;
}

.icon-new {
    display: none;
    position: absolute;
    top: -20px;
    left: 75px;
    z-index: 5;
    height: 75px;
}

.tagged-new-releases .icon-new {
    display: inline;
}

