@mixin breakpoint($point) {
    @if $point == small {
        @media (min-width: 480px) { @content; }
    }
    @else if $point == med {
        @media (min-width: 900px) { @content; }
    }
}

h2 {
    font-size: 150%;
    padding: 2% 0%;
}

body {
    margin: 3%;
    background-color: #e1e1e1;
}

#logo{
    width: 15%;
    padding-right: 3%;
}

#cart{
    width: 7.5%;
    vertical-align: middle;
    line-height: normal;
}
.nav-wrapper {
    @include breakpoint(med){
	display: -webkit-flex;
	-webkit-align-items:center;
	align-items: center;
	/*webkit stuff above*/
    display: inline-block;
	border: 3px solid gray;
    background-color: white;
	width: 100%;
	position:fixed;
	top:0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    z-index: 1;

    }
}

.nav-main {
	margin: 0;
	padding: 2%;
	list-style-type: none;
	overflow: auto;
}

.nav-main li {
	display: block;
	float: left;

	.nav-links {
		display: block;
		padding: 18px 27px;

		&:hover {
			background-color: #eee;
		}
	}
}

.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    /*margin: .4em; */
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    /* Prevent highlight colour when element is tapped */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align: center;
    padding: 20%;
    margin: 1em;
    font-size: 14pt;
    font-family: 'Antic Slab' serif;
    vertical-align: middle;
    line-height: normal;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*Shop catalog*/
.catalog {
    overflow: auto;
}

.catalog-item {
    opacity: 0;
    position: relative;
    float: left;
    margin: 20px;
    width: 240px;
    height:  400px;
    transition: opacity 0.5s linear;
}

.catalog-item-active {
    opacity: 1;
}

.catalog-title {
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    background-color: white;
    margin: 5px 0 5px 0;
}

.catalog-button {
    text-align: center;
}

.catalog-cover {
    width: 100%;
}

.catalog-anchor .catalog-popup{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    margin: 10px 10px 50px 10px;
    bottom: 0;
    left: 0;
}

.catalog-anchor:hover .catalog-popup {
    visibility: visible;
    background-color: lightyellow;
    border: 5px solid black;
    padding: 5%;
}

.icon-on-sale {
    display: none;
    position: absolute;
    top: -20px;
    right: -20px;
    z-index: 5;
    height: 75px;
}

/*End Shop content*/

/*Start Art-picks*/

.picks-wrapper {
    padding-top: 2%;

}




