.pageText {
	font-family: myFirstFont;
	font-size: 50px;
	text-align: center;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.pageLink h1 {
    text-decoration: none;
}

.pageLink h1:hover {
  text-decoration: none;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.pageLink p:hover {
  text-decoration: none;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.content {
  position: absolute;
  width: 100%;
  top:  100px;
  bottom:  200px;
  right: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0;
  transition: opacity 1s linear;
  z-index: 0;
}

.content-title {
  position: absolute;
  top: 25px;
  right: 100px;
  font-size: 60pt;
}

.content-active {
  opacity: 100;
  z-index: 1;
}

.content-blue {
    background-image: url("../images/background-blue.jpg");
}

.content-red {
    background-image: url("../images/background-red.jpg");
}

.content-yellow {
    background-image: url("../images/background-yellow.jpg");
}

.content-black {
    background-image: url("../images/background-black.jpg");
}

.indicators {
  position: absolute;
  top: 300px;
  right: 20px;
  z-index: 2;
}

.indicator {
  box-sizing: content-box;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  border: 1px solid white;
  margin: 5px 0 25px 5px;
}

.indicator-active {
  border: 3px solid white;
  margin: 3px 0 23px 3px;
  border-radius: 7px;
}

.indicator-blue {
  background-color: blue;
}

.indicator-red {
  background-color: red;
}

.indicator-yellow {
  background-color: yellow;
}

.indicator-black {
  background-color: black;
}
