@font-face {
    font-family: myFirstFont;
    src: url(BADABB__.TTF);
}

@font-face {
    font-family: 'Antic Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Antic Slab'), local('AnticSlab-Regular'), url(AnticSlab.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


html {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
    /* Margin top by header height */
    margin-top: 100px;
    /* specify the background image in the page css */
    /* background-image: url("../image/background_black.jpg"); */
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.smallNav {
    display: none;
    height: 60px;
}

.smallNavLogo {
    margin: 5px;
    left: 0;
}

.smallNavIcon {
    margin: 5px;
    float: right;
}

.smallNavMenu {
    display: none;
}

.smallNavMenu ul {
    list-style-type: none;
}

.navBar {
    list-style: none;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: white;
    height: 100px;
    line-height: 100px;
}

.navBarTop {
    position: fixed;
    top: 0px;
    height: 100px;
    z-index: 10;
}

.navBarBottom {
    position: fixed;
    bottom: 0;
    height: 100px;
    z-index: 10;
}

.navBarTextBox {
    height: 100px;
    line-height: 100px;
}

.navBarText, .extraText {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-family: 'Antic Slab';
}

li.topBar, li.lastButton {
    float: right;
    display: block;
}

.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    /*margin: .4em; */
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    /* Prevent highlight colour when element is tapped */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align: center;
    padding: 0.75em;
    margin: 1em;
    font-size: 14pt;
    font-family: 'Antic Slab';
    vertical-align: middle;
    line-height: normal;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.topButton {
    width: 120px;
}

.hapsButton {
    width: 180px;
}

li.lastButton {
    display: none;
}

li.bottomBar {
    float: left;
    font-family: 'Antic Slab';
}

li.bottomBarHours {
    width: 20%;
    float: right;
    display: block;
    line-height: 50%;
    font-family: 'Antic Slab';
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.clockIcon {
    text-align: right;
    padding: 0;
/*    margin-top: 10px; */
}

.bottomText {
    margin: 0;
    font-family: 'Antic-Slab'
}

#logo {
    position: relative;
    left: 30px;
    top: 10px;
    vertical-align: center;
}

.socialIcons {
    position: relative;
    text-align: center;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}

.socialIcon {
    width: 20px;
    height: 20px;
    margin: 4px;
}

.socialIcon:hover {
    width: 28px;
    height: 28px;
    margin: 0;
}

.logo {
    float: left;
    vertical-align: middle;
    line-height: normal;
}

@media (max-width: 991px) {

    html {
        /* Header supressed, no margin top */
        margin-top: 0;
        /* Footer supressed, no margin bottom */
        margin-bottom: 0;
   }

    .navBarTop {
        display: none;
    }

    .navBarBottom {
        display: none;
    }

    .content {
        height: 100%;
    }
    
    .smallNav {
        display: block;
    }
    
    .hvr-grow-shadow {
        width: 85%;
    }
}
